ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    color: white;
    padding: 4px;
    justify-content: start;
}

.container {
    background-color: #d3d3d3;

}

body {

    background-color: #a6dced;
    border-style: solid;
    width: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-left: 600px;
}
   

li {
    margin: 9px;
}


.principal {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 45px;
 text-transform: uppercase;

}

.recuo {
 padding: 24px;



}
.destaque {
    color: red;
    padding-left: 8px;
}


.subtitle {

    margin: 10px;
    line-height: 70px;
    font-variant: small-caps;
}

P {
    padding: 5px;
    margin: 5px;
}